.bg-custom {
    background-color: #0E8196;
}

.text-custom {
    color: #0E8196;
}

.bg-custom-2 {
    background-color: #06798C;
}

.text-custom-2 {
    color: #06798C;
}

.bg-custom-3 {
    background-color: #F0F7FD;
}

.google-sans-text {
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "GRAD" 0;
}