.bg-custom {
    background-color: #0E8196;
}
.text-custom {
    color: #0E8196;
}
.bg-custom-2 {
    background-color: #06798C;
}
.text-custom-2 {
    color: #06798C;
}
.bg-custom-3 {
    background-color: #F0F7FD;
}